torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
timm
pillow
python-multipart
grad-cam
google-genai
python-dotenv
opencv-python-headless
requests
numpy